In [22]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import random

In [2]:
df_archivo = pd.read_csv('definitivo.csv', index_col= 0)
df_archivo.head(15)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797
2,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, ""bitten in two""",1791
4,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupants, shark bit oar and rudder",10-May-1788
5,1787.07.05,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,05-Jul-1787
6,1786.08.10.R,1786.0,Unprovoked,BARBADOS,NaN,NaN,Washing himself,a sailor from the York Merchant,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported 10-Aug-1786
7,1785.09.26.R,1785.0,Unprovoked,ENGLAND,Sussex,Brighton,NaN,NaN,M,NaN,NaN,Tiger shark?,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,Human remains recovered from shark,Reported 26-Sep-1785
8,1784.12.12,1784.0,Unprovoked,JAMAICA,NaN,Kingston,Swimming,Richard Page,M,NaN,22h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,NaN,12-Dec-1784
9,1783.03.02,1783.0,Sea Disaster,MARTINIQUE,NaN,Foundering of the privateer Holker,NaN,NaN,M,NaN,06h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,Many of the crew were taken by sharks,02-Mar-1783
10,1780.08.08,1780.0,Unprovoked,USA,Florida,"Pensacola Harbor, Escambia County",Swimming,Joseph Feron,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,08-Aug-1780
11,1779.00.00,1779.0,Unprovoked,USA,Hawaii,"Maliu, Hawai'i",Surfing,Nu'u-anu-pa'a hu,M,young,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, buttock lacerated",1779
12,1776.00.00.R,1776.0,Unprovoked,GUINEA,NaN,NaN,Murder,African slave,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported 1776
13,1776.00.00.b,1776.0,Boat,GREENLAND,NaN,NaN,NaN,Occupants of skin boats,NaN,NaN,NaN,White sharks,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,1776
14,1771.07.12.R,1771.0,Unprovoked,USA,NaN,Damiscotte,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported 12-Jul-1771

In [34]:
# Cread una columna nueva y una función que nos dé el mes donde ocurrió el ataque. Si no hay info del mes, que devuelva un nulo (NaN)
#def mes():
fecha = df_archivo['date']
fecha

0                       1800
1       Reported May-28-1797
2                12-Sep-1792
3                       1791
4                10-May-1788
                ...
6279    Reported 26-Feb-1804
6280             May-17-1803
6281                Mar-1803
6282    Reported Apr-13-1802
6283    Reported 18-Dec-1801
Name: date, Length: 6284, dtype: object

In [ ]:
patron = ''

In [ ]:
def patron(column):
    if fecha.str.contains(patron, regex=True):
        return patron
    else:
        np.NaN

In [4]:
# Vamos con la columna fatal_(y/n). Lo primero que tenéis que hacer es evaluar los valores únicos que hay. 
# Esperaríamos tener solo dos valores: y y n, pero tristemente no es así. 
# Cread una columna nueva y una función que devuelva unicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

fatal = df_archivo['fatal_(y/n)']
fatal.unique()

array(['Y', 'N', nan, 'UNKNOWN', 'M', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [13]:
def limpieza(column):
    if column == 'Y' or column == 'y':
        return 'Y'
    elif column == 'N' or column == ' N' or column == 'N ':
        return 'N'
    else:
        return np.NaN

In [19]:
df_archivo['fatal_clean'] = df_archivo['fatal_(y/n)'].apply(limpieza)
df_archivo.sample()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,fatal_clean
3196,1981.03.25,1981.0,Unprovoked,USA,Florida,"Singer Island, Riviera Beach, Palm Beach County",Standing / Wading,Christopher J. Auditore,M,19,15h00,"1.2 m to 1.5 m [4' to 5'] bull, sandbar or dus...",http://sharkattackfile.net/spreadsheets/pdf_di...,N,"Lacerations on calf, ankle & heel",25-Mar-1981,N

In [20]:
# Seguid la misma lógica que en el ejercicio anterior pero con la columna sex. 
# Pero en este caso vamos a incluir un retito más: En este caso querremos tener dos valores únicos F y M. 
# De nuevo en la columna hay otros carácteres raros como 'M ', 'lli', 'N', '.'. 
# En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendréis que usar la librería random). 
# En caso de que sea nulo, que la función devuelva nulo (np.nan).

sexo = df_archivo['sex_']
sexo.unique()

array(['F', nan, 'M', 'M ', 'lli', 'N', '.'], dtype=object)

In [31]:
def limpieza_2(column):
    lista = ['F', 'M']
    if column == 'F':
        return 'F'
    elif column == 'M' or column == 'M ' or column == 'N':
        return 'M'
    elif column == 'lli' or column == '.':
        return random.choice(lista)
    else:
        return np.NaN

In [33]:
df_archivo['sexo'] = df_archivo['sex_'].apply(limpieza_2)
df_archivo['sexo'].unique()

array(['F', nan, 'M'], dtype=object)