In [1]:
#cargar el dataset
import pandas as pd

archivo = pd.read_csv("./attacks.csv")
archivo.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [14]:
# cuantas filas y columnas tiene el df
archivo_df = pd.DataFrame(archivo)

archivo_df.shape

(6114, 22)

In [15]:
# primeras 5 filas y las últimas 5
archivo_df.head(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [16]:
# 5 últimas filas
archivo_df.tail(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [17]:
# 2 filas al azar
archivo_df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3304,3314,1972.12.25,1972.0,Unprovoked,MEXICO,Guerrero,"Revolcadero Beach, Acapulco",Body surfing,Gerald Soukoff,M,...,NaN,"The Gleaner, 1/3/1973; A. Resciniti, p.109",1972.12.25-Sockoff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1972.12.25,1972.12.25,2989.0,NaN,NaN
1981,1988,2000.11.21,2000.0,Unprovoked,AUSTRALIA,Queensland,Orpheus Island,Diving (shell maintenance),George Lyons,M,...,"Tiger shark, 4 m","Courier-Mail, 11/24/2000, p.3",2000.11.21-Lyons.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.11.21,2000.11.21,4315.0,NaN,NaN

In [18]:
# nombres columnas
archivo_df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [19]:
# principales estadísticos
archivo_df.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [36]:
# ¿Cuáles son los principales estádisticos del dataframe? Mostrad por separado las variables categóricas y las variables numéricas.

categorica = archivo_df.describe(include = "object")                             # include --> funciona como un filtro. Nos da solo los objects.
categorica.head()

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

In [35]:
numerica = archivo_df.describe(include = ("int64", "float64")) 
numerica.head()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000

In [ ]:
# porcentaje de valores nulos

casos_nulos = archivo_df.isnull().sum()
print(casos_nulos)

casos_totales = archivo_df.shape[0]         


resultado = (casos_nulos * 100) / casos_totales
print(resultado)


# % -->
#  casos total ----- 100 %
#  casos que tengo --- x % --->  X = (casos nulos * 100%) / casos totales

In [ ]:
# Sacad los valores únicos y su frecuencia de las variables numéricas. 
# Almacenad los resultados en un diccionario. Uno para cada variable.                  

df_numericas = archivo_df[["Year", "original order", "Unnamed: 0"]]
dic = {}

for i in df_numericas:
    df_numericas[i].value_counts()
    dic[i] = df_numericas[i].value_counts()

In [ ]:
dic.keys()

In [ ]:
dic.values()

In [83]:
#cambiando los nombres de cols a minúsculas
#rename (utiliza dic. Keys: nombre antiguo, value nombre neuvo)

lista_nom_col_original = list(archivo_df.columns)
print(lista_nom_col_original)


for i in range(len(lista_nom_col_original)):
    lista_nom_col_original[i] = lista_nom_col_original[i].lower()
print(lista_nom_col_original)

['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']
['unnamed: 0', 'case number', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex ', 'age', 'time', 'species ', 'investigator or source', 'pdf', 'href formula', 'href', 'case number.1', 'case number.2', 'original order', 'unnamed: 22', 'unnamed: 23']

In [94]:
nuevas_columnas = {}

for col in archivo_df.columns:
    nuevas_columnas[col] = col.lower()

In [101]:
lista = ["Laura", "Almudena"]

lista_nueva = []


for nombre in lista:
    lista_nueva.append(len(nombre))
lista_nueva

[5, 8]

In [102]:
lista_nueva2 = [len(nombre) for nombre in lista]
lista_nueva2

[5, 8]

In [103]:
nuevas_columnas2 = { col: col.lower() for col in archivo_df.columns}
nuevas_columnas2

{'unnamed: 0': 'unnamed: 0',
 'case number': 'case number',
 'year': 'year',
 'type': 'type',
 'country': 'country',
 'area': 'area',
 'location': 'location',
 'activity': 'activity',
 'name': 'name',
 'sex ': 'sex ',
 'age': 'age',
 'time': 'time',
 'species ': 'species ',
 'investigator or source': 'investigator or source',
 'pdf': 'pdf',
 'href formula': 'href formula',
 'href': 'href',
 'case number.1': 'case number.1',
 'case number.2': 'case number.2',
 'original order': 'original order',
 'unnamed: 22': 'unnamed: 22',
 'unnamed: 23': 'unnamed: 23'}

In [95]:
nuevas_columnas

{'Unnamed: 0': 'unnamed: 0',
 'Case Number': 'case number',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex ',
 'Age': 'age',
 'Time': 'time',
 'Species ': 'species ',
 'Investigator or Source': 'investigator or source',
 'pdf': 'pdf',
 'href formula': 'href formula',
 'href': 'href',
 'Case Number.1': 'case number.1',
 'Case Number.2': 'case number.2',
 'original order': 'original order',
 'Unnamed: 22': 'unnamed: 22',
 'Unnamed: 23': 'unnamed: 23'}

In [99]:
archivo_df.rename(columns = nuevas_columnas, inplace = True)
archivo_df.head()

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [106]:
#reemplazad espacios por _

# df_lower = pd.DataFrame(lista_nom_col_original)

# df_lower = df_lower.replace(' ', '_')
# df_lower


nuevas_columnas3 = {}

for col in archivo_df.columns:
    nuevas_columnas3[col] = col.replace(" ", "_")

archivo_df.rename(columns = nuevas_columnas3, inplace = True)
archivo_df.head()

# ["0"]::
# dict_comprehension
# {original:i.lower.replace}

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
## dict cromprehension
chorizo = {col: col.replace(" ", "_") for col in archivo_df.columns}

In [111]:
# Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, 
# Investigator or Source, pdf, href formula.

archivo_df.drop(["unnamed:_22", "unnamed:_23", "case_number.1", "case_number.2", "original_order", 
"investigator_or_source", "pdf", "href_formula"], axis = 1, inplace= True)

In [ ]:
# Establece la columna Case Number como índice del dataframe.
archivo_df.set_index("case_number", inplace = True)
archivo_df.head()

In [116]:
# Guarda el csv que no tiene esas columnas para seguir usándolo mañana.
archivo_df.to_csv("odisea.csv")