In [7]:
#cargar el dataset
import pandas as pd

archivo = pd.read_csv("DA-promo-A-module-2-pairprog-1-pair-2-Laura-Almudena/attacks.csv")
archivo.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [16]:
# cuantas filas y columnas tiene el df
archivo_df = pd.DataFrame(archivo)

archivo_df.shape

(6114, 22)

In [12]:
# primeras 5 filas y las últimas 5
archivo_df.head(5)

   Unnamed: 0 Case Number    Year        Type    Country             Area  \
0           0  2018.06.25  2018.0     Boating        USA       California
1           1  2018.06.18  2018.0  Unprovoked        USA          Georgia
2           2  2018.06.09  2018.0     Invalid        USA           Hawaii
3           3  2018.06.08  2018.0  Unprovoked  AUSTRALIA  New South Wales
4           4  2018.06.04  2018.0    Provoked     MEXICO           Colima

                         Location     Activity             Name Sex   ...  \
0     Oceanside, San Diego County     Paddling      Julie Wolfe    F  ...
1  St. Simon Island, Glynn County     Standing  Adyson McNeely     F  ...
2                    Habush, Oahu      Surfing      John Denges    M  ...
3              Arrawarra Headland      Surfing             male    M  ...
4                        La Ticla  Free diving   Gustavo Ramos     M  ...

          Species           Investigator or Source                       pdf  \
0      White shark                R. Collier, GSAF      2018.06.25-Wolfe.pdf
1              NaN  K.McMurray, TrackingSharks.com    2018.06.18-McNeely.pdf
2              NaN  K.McMurray, TrackingSharks.com     2018.06.09-Denges.pdf
3        2 m shark                  B. Myatt, GSAF  2018.06.08-Arrawarra.pdf
4  Tiger shark, 3m                       A .Kipper      2018.06.04-Ramos.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...
3  http://sharkattackfile.net/spreadsheets/pdf_di...
4  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.25
1  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.18
2  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.09
3  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.08
4  http://sharkattackfile.net/spreadsheets/pdf_di...    2018.06.04

  Case Number.2 original order Unnamed: 22  Unnamed: 23
0    2018.06.25         6303.0         NaN          NaN
1    2018.06.18         6302.0         NaN          NaN
2    2018.06.09         6301.0         NaN          NaN
3    2018.06.08         6300.0         NaN          NaN
4    2018.06.04         6299.0         NaN          NaN

[5 rows x 22 columns]
      Unnamed: 0   Case Number    Year          Type    Country  \
6109        6127  1804.02.26.R  1804.0          Boat  AUSTRALIA
6110        6128    1803.05.17  1803.0  Sea Disaster        USA
6111        6129    1803.03.00  1803.0    Unprovoked  AUSTRALIA
6112        6130  1802.04.13.R  1802.0    Unprovoked      INDIA
6113        6131  1801.12.18.R  1801.0      Provoked        NaN

                   Area                          Location  \
6109    New South Wales    Georges Head, off Port Jackson
6110     South Carolina                    Off Charleston
6111  Western Australia  Hamelin Harbour, at Faure Island
6112                NaN                               NaN
6113                NaN                               NaN

                             Activity                             Name Sex   \
6109                              NaN                             boat  NaN
6110                              NaN                    Captain Jones    M
6111                              NaN  M. Lefevre & a sailor (rescuer)    M
6112                              NaN                              NaN  NaN
6113  Standing on landed shark's tail                 Stephen Pettigew    N

      ...   Species                              Investigator or Source  \
6109  ...        NaN                         Sydney Gazette, 2/26/1804
6110  ...        NaN                            Evening Post, 6/13/1803
6111  ...        NaN  F.  Peron ref in G.P. Whitley (Fishes of Austr...
6112  ...        NaN                  Evening Post (New York) 4/13/1802
6113  ...  12' shark                       The Evening Post, 12/18/1801

                                  pdf  \
6109  1804.02.26-boat-GeorgesHead.pdf
6110             1803.05.17-Jones.pdf
6111           1803.03.00-Lefevre.pdf
6112           1802.04.13.R-India.pdf
6113       1801.12.18.R-Pettigrew.pdf

                                           href formula  \
6109  http://sharkattackfile.net/spreadsheets/pdf_di...
6110  http://sharkattackfile.net/spreadsheets/pdf_di...
6111  http://sharkattackfile.net/spreadsheets/pdf_di...
6112  http://sharkattackfile.net/spreadsheets/pdf_di...
6113  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number.1  \
6109  http://sharkattackfile.net/spreadsheets/pdf_di...  1804.02.26.R
6110  http://sharkattackfile.net/spreadsheets/pdf_di...    1803.05.17
6111  http://sharkattackfile.net/spreadsheets/pdf_di...    1803.03.00
6112  http://sharkattackfile.net/spreadsheets/pdf_di...  1802.04.13.R
6113  http://sharkattackfile.net/spreadsheets/pdf_di...  1801.12.18.R

     Case Number.2 original order Unnamed: 22  Unnamed: 23
6109  1804.02.26.R          176.0         NaN          NaN
6110    1803.05.17          175.0         NaN          NaN
6111    1803.03.00          174.0         NaN          NaN
6112  1802.04.13.R          173.0         NaN          NaN
6113  1801.12.18.R          172.0         NaN          NaN

[5 rows x 22 columns]

In [13]:
# 5 últimas filas
archivo_df.tail(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [14]:
# 2 filas al azar
archivo_df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4934,4946,1934.03.00,1934.0,Provoked,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' launch, occupants: 2 fishermen",NaN,...,"Mako shark, 3.7 m [12'] identified by tooth fr...","V.M. Coppleson (1958), p.182; G.P. Whitley",1934.03.00-Cronulla-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.03.00,1934.03.00,1357.0,NaN,NaN
3758,3769,1963.01.12,1963.0,Provoked,SOUTH AFRICA,Eastern Cape Province,Humewood,Fishing,NaN,M,...,<1.5 m shark,GSAF,1963.01.12-Mankowitz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.01.12,1963.01.12,2534.0,NaN,NaN

In [17]:
# nombres columnas
archivo_df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [21]:
# principales estadísticos
archivo_df.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [58]:
######################################################### FALTA sacar las variables por separado
# separa variables categóricas y numéricas
# archivo_df.info()

# object es categórico y el resto: float64 e int64 numérico
archivo_df.dtypes

if archivo_df.dtype == "int64" | "float64":
    numericas = archivo_df.columns.append()
else: 
    categoricas = archivo.columns.append()

# corte_df = archivo_df.cut(archivo_df.dtypes, 2)

Unnamed: 0                  int64
Case Number                object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [48]:
# porcentaje de valores nulos

casos_nulos = archivo_df.isnull().sum()
print(casos_nulos)

casos_totales = archivo_df.shape[0]         


resultado = (casos_nulos * 100) / casos_totales
print(resultado)


# % -->
#  casos total ----- 100 %
#  casos que tengo --- x % --->  X = (casos que tengo * 100%) / casos totales

Unnamed: 0                   0
Case Number                  1
Year                         0
Type                         4
Country                     40
Area                       408
Location                   488
Activity                   511
Name                       200
Sex                        550
Age                       2666
Time                      3180
Species                   2705
Investigator or Source      16
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6113
Unnamed: 23               6112
dtype: int64
Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

In [57]:
# valores únicos y su frecuencia de las varibles numéricas.
# Almacenad los resultados en un diccionario. Uno para cada variable. .
# archivo_df.columns


unicos = archivo_df["Sex "].unique()
unicos

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)